<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjh.codeqna.manager.mapper.AprvReportMapper">
    <sql id="columns">
        id, target_type, target_id, reporter_id, report_reason, status, report_time,
    </sql>

    <resultMap id="ReportVoResultMap" type="com.cjh.codeqna.model.vo.approval.AprvReportVo">
        <id property="id" column="id"/>
        <result property="targetType" column="target_type"/>
        <result property="targetId" column="target_id"/>
        <result property="reporterId" column="reporter_id"/>
        <result property="reportReason" column="report_reason"/>
        <result property="status" column="status"/>
        <result property="reportTime" column="report_time"/>
        <result property="reporterUserName" column="reporter_userName"/>
    </resultMap>

    <!--举报列表-->
    <select id="findByPage" resultMap="ReportVoResultMap">
        SELECT r.id, r.target_type, r.target_id, r.reporter_id, r.report_reason, r.status, r.report_time, u.username AS reporter_userName
        FROM aprv_report r
        INNER JOIN dt_user u
        ON u.id = r.reporter_id
        WHERE r.status = #{status}
    </select>

    <!--更新举报消息对应状态-->
    <update id="updateStatus">
        UPDATE aprv_report
        SET status = #{status}
        WHERE id = #{reportId}
    </update>
</mapper>