<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjh.codeqna.knowledge.mapper.PostInfoMapper">
    <sql id="columns">
        id,type,user_id,title,content,status,create_time,update_time,is_deleted
    </sql>

    <!--按时间排序获取问答贴信息-->
    <select id="getPostInfoByLatest" resultType="com.cjh.codeqna.model.entity.data.DtKnowledge">
        SELECT <include refid="columns"/>
        FROM dt_knowledge
        WHERE type = 0
        AND status = 1
        AND is_deleted = 0
        ORDER BY create_time DESC
    </select>

    <!--获取根据知识记录表按照阅读数排序的知识表中的问答贴集合-->
    <select id="getPostInfoByPopular" resultType="com.cjh.codeqna.model.entity.data.DtKnowledge">
        SELECT dk.id,dk.type,dk.user_id,dk.title,dk.content,dk.status,dk.create_time,dk.update_time,dk.is_deleted
        FROM dt_knowledge dk
        LEFT JOIN dt_knowledge_records dkr
        ON dk.id = dkr.knowledge_id
        WHERE dk.type = 0
        AND dk.status = 1
        AND dk.is_deleted = 0
        ORDER BY IFNULL(dkr.read_count, 0) DESC
    </select>

    <!--获取根据知识记录表按照赞赏数排序的知识表中的问答贴集合-->
    <select id="getPostInfoByQuality" resultType="com.cjh.codeqna.model.entity.data.DtKnowledge">
        SELECT dk.id,dk.type,dk.user_id,dk.title,dk.content,dk.status,dk.create_time,dk.update_time,dk.is_deleted
        FROM dt_knowledge dk
        LEFT JOIN dt_knowledge_records dkr
        ON dk.id = dkr.knowledge_id
        WHERE dk.type = 0
        AND dk.status = 1
        AND dk.is_deleted = 0
        ORDER BY IFNULL(dkr.appreciate_count, 0) DESC
    </select>

    <!--获取根据知识记录表按照关注数排序的知识表中的问答贴集合-->
    <select id="getPostInfoByFollow" resultType="com.cjh.codeqna.model.entity.data.DtKnowledge">
        SELECT dk.id,dk.type,dk.user_id,dk.title,dk.content,dk.status,dk.create_time,dk.update_time,dk.is_deleted
        FROM dt_knowledge dk
        LEFT JOIN dt_knowledge_records dkr
        ON dk.id = dkr.knowledge_id
        WHERE dk.type = 0
        AND dk.status = 1
        AND dk.is_deleted = 0
        ORDER BY IFNULL(dkr.follow_count, 0) DESC
    </select>

    <!--根据获取的知识id集合获取除集合内id外的其他知识数据集合-->
    <select id="getPostInfoByUnsolved" resultType="com.cjh.codeqna.model.entity.data.DtKnowledge">
        SELECT <include refid="columns" />
        FROM dt_knowledge
        WHERE id NOT IN
        <foreach item="knowledgeId" collection="knowledgeIds" separator="," open="(" close=")" index="">
            #{knowledgeId}
        </foreach>
        AND type = 0
        AND status = 1
        AND is_deleted = 0
    </select>

    <!--根据用户感兴趣标签集合获取问答贴集合-->
    <select id="getPostInfoByInterest" resultType="com.cjh.codeqna.model.entity.data.DtKnowledge">
        SELECT dk.id,dk.type,dk.user_id,dk.title,dk.content,dk.status,dk.create_time,dk.update_time,dk.is_deleted
        FROM dt_knowledge dk
        INNER JOIN dt_knowledge_tag dkt
        ON dk.id = dkt.knowledge_id
        WHERE dkt.tag_id IN
        <foreach item="tagId" collection="tagIds" separator="," open="(" close=")" index="">
            #{tagId}
        </foreach>
        AND dk.type = 0
        AND dk.status = 1
        AND dk.is_deleted = 0
        GROUP BY dk.id
    </select>
</mapper>